:root {
  --main-color: #2c666eff;
  --rich-black: #07393cff;
  --rich-black-true: #0a090cff;
  --middle-blue: #90ddf0ff;
  --white: rgb(240, 237, 238);
  --background: rgba(240, 237, 238, 0.5);
  --secondary-1: #f4a261;
  --secondary-2: #e76f51;
  --shadow: rgb(58, 136, 119, 0.2);
  --dark-font: #0b132b;
  --light-font: #2b4141;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  outline: none;
  padding: 0 0 0 0;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  background-image: linear-gradient(
    to bottom right,
    var(--middle-blue),
    var(--main-color)
  );
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-font);
  font-size: 16px;
  overflow-x: auto;
  -webkit-tap-highlight-color: transparent;
  transition: 0.1s;
}

body::before {
  content: "";
  /* position: fixed;
  background-color: var(--rich-black-true);
  opacity: 0.12; */
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  flex-direction: column;
}

.container:first-child {
  margin-top: 56px;
  border-top: none;
}

.container {
  background: var(--background);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 64px);
  min-height: calc(100vh - 200px);
  box-shadow: 0 5px 10px var(--main-color);
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 48px;
  border-top: 1px solid rgba(240, 237, 238, 0.5);
  border-left: 1px solid rgba(240, 237, 238, 0.5);
}

.container a {
  cursor: pointer;
}

.bevel {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header {
  position: fixed;
  top: 43px;
  right: 16px;
  left: 16px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(240, 237, 238, 0.6);
  border-radius: 16px;
  border: 1px solid rgba(240, 237, 238, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

header > .logo {
  text-decoration: none;
  color: var(--rich-black);
  font-weight: 700;
  padding-left: 32px;
}

.logo > p {
  transition: 0.5s;
  font-size: 3em;
}

.logo > p:hover {
  transform: scale(1.5) rotateZ(360deg) translateY(5px);
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0 8px;
  padding-right: 10px;
  min-width: 96px;
  text-align: center;
}

header ul li a {
  font-weight: 500;
  color: var(--rich-black);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

header ul li a:hover,
header ul li a.active {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: var(--white);
  box-shadow: 1px 2px 3px var(--main-color);
}

.glass {
  box-shadow: 0 18px 48px var(--shadow);
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 24px;
  width: 100%;
  margin-bottom: 25px;
}

.glass h2 {
  font-size: 3em;
  color: var(--rich-black);
  margin-bottom: 8px;
  margin-top: 5px;
}

.glass a {
  display: inline-block;
  padding: 13px 32px;
  background: var(--white);
  color: var(--rich-black);
  margin-top: 25px;
  border-radius: 32px;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 5px 10px var(--shadow);
}
.glass p {
  text-align: left;
  font-size: 1.5em;
}
.start {
  padding-left: 50px;
  transform: translateX(-70px) translateY(20px);
  max-width: 1140px;
}
