:root {
  --main-color: #2c666eff;
  --rich-black: #07393cff;
  --rich-black-true: #0a090cff;
  --middle-blue: #90ddf0ff;
  --white: rgb(240, 237, 238);
  --background: rgba(240, 237, 238, 0.5);
  --secondary-1: #f4a261;
  --secondary-2: #e76f51;
  --shadow: rgb(58, 136, 119, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0%;
  outline: none;
  padding: 0%;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--middle-blue),
    var(--main-color)
  );
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--rich-black-true);
  font-size: 16px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body::before {
  content: "";
  position: fixed;
  background-color: var(--rich-black-true);
  opacity: 0.12;
  z-index: -1;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10em;
  padding: 50px;
  flex-direction: column;
}

.container:first-child {
  margin-top: 3.5em;
  border-top: none;
}

.container {
  background: var(--background);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1em);
  min-height: calc(100vh - 20em);
  box-shadow: 0 0.3em 10px var(--main-color);
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 3em;
  border-top: 1px solid rgba(240, 237, 238, 0.5);
  border-left: 1px solid rgba(240, 237, 238, 0.5);
}

.bevel {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header {
  position: fixed;
  top: 2.7em;
  right: 1em;
  left: 1em;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(240, 237, 238, 0.6);
  border-radius: 1em;
  border: 1px solid rgba(240, 237, 238, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

header > .logo {
  text-decoration: none;
  color: var(--rich-black);
  font-weight: 700;
  padding-left: 2em;
}

.logo > p {
  transition: 0.5s;
  font-size: 3em;
}

.logo > p:hover {
  transform: scale(1.5) rotateZ(360deg) translateY(0.1em);
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0 0.5em;
  padding-right: 10px;
}

header ul li a {
  font-weight: 500;
  color: var(--rich-black);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
}

header ul li a:hover,
header ul li a.active {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: var(--white);
  box-shadow: 1px 2px 3px var(--main-color);
}

.glass {
  box-shadow: 0 1.1em 3em var(--shadow);
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1.5em;
  width: 100%;
  text-align: center;
}

.glass h2 {
  font-size: 3em;
  color: var(--rich-black);
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 5px;
}

.glass a {
  display: inline-block;
  padding: 0.8em 2em;
  background: var(--white);
  color: var(--rich-black);
  margin-top: 2em;
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 5px 10px var(--shadow);
}
.glass p {
  text-align: left;
}
.start {
  transform: translateX(-3em) translateY(1em);
  max-width: 90em;
}
