@media only screen and (max-width: 1000px) {
  .container {
    width: calc(100%);
  }
  .start {
    transform: none;
  }
  .logo {
    padding-left: 0;
  }
}

@media only screen and (max-width: 800px) {
  .start {
    height: auto;
  }
  header {
    flex-direction: column;
    width: calc(100% - 32px);
    justify-self: center;
    top: 20px;
  }
  header > .logo {
    padding-left: 0;
  }
  header ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  header > ul > li {
    margin-top: 16px;
  }
  .container {
    flex-direction: column;
    padding-top: 64px;
  }
  section {
    padding: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .glass h2 {
    font-size: 1.7em;
  }
  section {
    padding: 0;
  }
  .container:first-child {
    margin-top: 200px;
  }
}
